<div
  class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center"
>
  <div class="bg-white p-6 rounded shadow-lg w-96">
    <h2 class="text-xl font-bold mb-4">Add Account</h2>

    <!-- Dropdown -->
    <div>
      <label class="block text-gray-700 mb-2">Type:</label>
      <div class="relative">
        <select
          [(ngModel)]="accountType"
          class="appearance-none border border-gray-300 rounded w-full py-3 px-4 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
          (change)="onAccountTypeChange($event)"
        >
          <option value="" disabled selected class="text-gray-400 italic">Select Type</option>
          <option value="guest">Guest</option>
          <option value="staff">Staff</option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-4 flex items-center text-gray-500"
        >
          <i class="fas fa-chevron-down"></i>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <label class="block text-gray-700 mb-2">Username:</label>
      <input
        type="text"
        [(ngModel)]="username"
        class="border border-gray-300 p-3 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        placeholder="Enter username"
      />
    </div>

    <div class="mt-4">
      <label class="block text-gray-700 mb-2">Password:</label>
      <input
        type="password"
        [(ngModel)]="password"
        class="border border-gray-300 p-3 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        placeholder="Enter password"
        [disabled]="!isPasswordEnabled"
      />
    </div>

    <div class="flex justify-end mt-6">
      <button
        class="bg-gray-300 text-black px-4 py-2 rounded mr-2 hover:bg-gray-400"
        (click)="close.emit()"
      >
        Cancel
      </button>
      <button
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
        (click)="submitAccount()"
        [disabled]="!accountType || !username"
      >
        Save
      </button>
    </div>
  </div>
</div>
