@import 'ngx-toastr/toastr';

@import '@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Futura';
    src: url('assets/Jost-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body { height: 100%; font-size: 103%;}
body { margin: 0; font-family: "Futura", "Helvetica Neue", sans-serif; }
