<div class="bg-primary">
	<!-- Top Bar -->
	<div class="flex justify-between items-center h-16 py-2 px-5">
		<div>
			<h3 class="text-xl font-bold">Concierge Admin Dashboard</h3>
		</div>
		<div>
			<a href="#" id="logout" (click)="handleLogout()" class="bg-black text-white p-2 rounded-lg">
				<i class="fa-solid fa-sign-out-alt"></i>
			</a>
		</div>
	</div>
	<div class="flex h-[calc(100vh-4rem)]">
		<!-- Sidebar -->
		<app-sidebar class="h-full w-20 lg:w-80 flex-none" />
		<!-- Tabs -->
		<div class="flex-grow overflow-auto shadow-inner-custom bg-white rounded-lg">
			<div class="m-10">
				<router-outlet />
			</div>
		</div>
	</div>
</div>