<h3 class="font-semibold text-5xl mb-5">Incident Reports</h3>
<p class="mb-5 font-bold text-xl">Manage Incident Reports</p>
<button (click)="openWindow()" type="button" class="bg-blue-500 text-white p-2 rounded-lg mb-4">
  Report an incident
</button>
<div class="flex gap-2">
	<!-- To do -->
	<div class="w-1/4 border rounded-lg">
		<div class="w-full bg-slate-300 p-3 uppercase font-semibold text-xl flex items-center justify-center text-center">
			To do
		</div>
		<div class="p-2">
			@if(todoReports.length > 0){
				@for(report of todoReports; track report.id){
					<div class="w-full h-[175px] flex flex-col justify-between p-2 border rounded-lg">
						<div class="flex justify-between mb-1">
							<p class="text-xl font-semibold truncate">{{report.title}}</p>
						</div>
						<p class="line-clamp-3 break-words">
							{{ report.description }}
						</p>
						<div class="flex items-center justify-between mt-auto">
							<p class="text-xs mt-4 font-semibold">{{report.severity}}</p>
							<div>
								<button type="button" (click)="report.id && loadAmenity(report)" style="width: 60px; height: 30px;" class="bg-slate-300 p-1 rounded-md ">Edit</button>
								<button type="button" (click)="report.id && deleteReport(report.id)" style="width: 60px; height: 30px;" class="bg-red-700 text-white p-1 rounded-md">Delete</button>
							</div>
						</div>
					</div>
				}
			}
		</div>
	</div>
	<!-- In progress -->
	<div class="w-1/4 border rounded-lg">
		<div class="w-full bg-slate-300 p-3 uppercase font-semibold text-xl flex items-center justify-center text-center">
			In progress
		</div>
		<div class="p-2">
			@if(inProgressReports.length > 0){
				@for(report of inProgressReports; track report.id){
					<div class="w-full h-[175px] flex flex-col justify-between p-2 border rounded-lg">
						<div class="flex justify-between mb-1">
							<p class="text-xl font-semibold truncate">{{report.title}}</p>
						</div>
						<p class="line-clamp-3 break-words"> <!-- Added break-words for wrapping -->
							{{ report.description }}
						</p>
						<div class="flex items-center justify-between mt-auto">
							<p class="text-xs mt-4 font-semibold">{{report.severity}}</p>
							<div>
								<button type="button" (click)="report.id && loadAmenity(report)" style="width: 60px; height: 30px;" class="bg-slate-300 p-1 rounded-md ">Edit</button>
								<button type="button" (click)="report.id && deleteReport(report.id)" style="width: 60px; height: 30px;" class="bg-red-700 text-white p-1 rounded-md">Delete</button>
							</div>
						</div>
					</div>
				}
			}
		</div>
	</div>
	<!-- Resolved -->
	<div class="w-1/4 border rounded-lg">
		<div class="w-full bg-slate-300 p-3 uppercase font-semibold text-xl flex items-center justify-center text-center">
			Resolved
		</div>
		<div class="p-2">
			@if(resolvedReports.length > 0){
				@for(report of resolvedReports; track report.id){
					<div class="w-full h-[175px] flex flex-col justify-between p-2 border rounded-lg">
						<div class="flex justify-between mb-1">
							<p class="text-xl font-semibold truncate">{{report.title}}</p>
						</div>
						<p class="line-clamp-3 break-words"> <!-- Added break-words for wrapping -->
							{{ report.description }}
						</p>
						<div class="flex items-center justify-between mt-auto">
							<p class="text-xs mt-4 font-semibold">{{report.severity}}</p>
							<div>
								<button type="button" (click)="report.id && loadAmenity(report)" style="width: 60px; height: 30px;" class="bg-slate-300 p-1 rounded-md ">Edit</button>
								<button type="button" (click)="report.id && deleteReport(report.id)" style="width: 60px; height: 30px;" class="bg-red-700 text-white p-1 rounded-md">Delete</button>
							</div>
						</div>
					</div>
				}
			}
		</div>
	</div>
	<!-- Closed -->
	<div class="w-1/4 border rounded-lg">
		<div class="w-full bg-slate-300 p-3 uppercase font-semibold text-xl flex items-center justify-center text-center">
			Closed
		</div>
		<div class="p-2">
			@if(closedReports.length > 0){
				@for(report of closedReports; track report.id){
					<div class="w-full h-[175px] flex flex-col justify-between p-2 border rounded-lg">
						<div class="flex justify-between mb-1">
							<p class="text-xl font-semibold truncate">{{report.title}}</p>
						</div>
						<p class="line-clamp-3 break-words"> <!-- Added break-words for wrapping -->
							{{ report.description }}
						</p>
						<div class="flex items-center justify-between mt-auto">
							<p class="text-xs mt-4 font-semibold">{{report.severity}}</p>
							<div>
								<button type="button" (click)="report.id && loadAmenity(report)" style="width: 60px; height: 30px;" class="bg-slate-300 p-1 rounded-md ">Edit</button>
								<button type="button" (click)="report.id && deleteReport(report.id)" style="width: 60px; height: 30px;" class="bg-red-700 text-white p-1 rounded-md">Delete</button>
							</div>
						</div>
					</div>
				}
			}
		</div>
	</div>
</div>

<app-window [isOpen]="isOpenWindow" (closeWindow)="closeWindow()">
	<app-incident-report-form (onCloseWindow)="closeWindow()" [data]="incidentReport"></app-incident-report-form>
</app-window>