<h3 class="font-semibold text-5xl mb-5">Incident Reports</h3>
<p class="mb-5 font-bold text-xl">Manage Incident Reports</p>
<button *ngIf="canCreate" (click)="openReportWindow()" type="button" class="bg-black text-white px-4 py-2 rounded-lg mb-4 tracking-wide">
	<i class="fa-solid fa-exclamation-triangle mr-1"></i>
	Report an incident
</button>
<div class="flex gap-2">
	<!-- To do -->
	<div class="w-1/4 border rounded-lg">
		<div
			class="w-full bg-slate-200 p-3 uppercase font-semibold text-xl flex items-center justify-center text-center">
			To do
		</div>
		<div class="p-2">
			@if(todoReports.length > 0){ @for(report of todoReports; track report.id){
			<div class="w-full h-[175px] flex flex-col justify-between p-2 border rounded-lg">
				<div class="flex justify-between mb-1">
					<p class="text-xl font-semibold truncate">{{ report.title }}</p>
				</div>
				<p class="line-clamp-3 break-words">
					{{ report.description }}
				</p>
				<div class="flex items-center justify-between mt-auto">
					<p class="text-xs mt-4 font-semibold px-2 py-1 rounded"
						[ngClass]="{
							'bg-lightGreen text-white': report.severity === 'LOW',
							'bg-yellow-500 text-black': report.severity === 'MEDIUM',
							'bg-orange-400 text-white': report.severity === 'HIGH',
							'bg-red-600 text-white': report.severity === 'CRITICAL'
						}"
					>{{ report.severity }}</p>
					<div class="flex flex-row gap-2">
						<button *ngIf="canEdit" type="button" (click)="report.id && loadReport(report)"
							class="bg-slate-200 hover:bg-primary p-1 rounded-md w-8 h-8 text-center">
							<i class="fa-solid fa-pen"></i>
						</button>
						<button *ngIf="canDelete" type="button" (click)="report.id && openConfirmWindow(report.id)"
							class="hover:bg-lightRed bg-red-700 text-white p-1 rounded-md w-8 h-8 text-center">
							<i class="fa-solid fa-trash"></i>
						</button>
					</div>
				</div>
			</div>
			} }
		</div>
	</div>
	<!-- In progress -->
	<div class="w-1/4 border rounded-lg">
		<div
			class="w-full bg-slate-200 p-3 uppercase font-semibold text-xl flex items-center justify-center text-center">
			In progress
		</div>
		<div class="p-2">
			@if(inProgressReports.length > 0){ @for(report of inProgressReports; track
			report.id){
			<div class="w-full h-[175px] flex flex-col justify-between p-2 border rounded-lg">
				<div class="flex justify-between mb-1">
					<p class="text-xl font-semibold truncate">{{ report.title }}</p>
				</div>
				<p class="line-clamp-3 break-words">
					{{ report.description }}
				</p>
				<div class="flex items-center justify-between mt-auto">
					<p class="text-xs mt-4 font-semibold px-2 py-1 rounded"
						[ngClass]="{
							'bg-lightGreen text-white': report.severity === 'LOW',
							'bg-yellow-500 text-black': report.severity === 'MEDIUM',
							'bg-orange-400 text-white': report.severity === 'HIGH',
							'bg-red-600 text-white': report.severity === 'CRITICAL'
						}"
					>{{ report.severity }}</p>
					<div class="flex flex-row gap-2">
						<button *ngIf="canEdit" type="button" (click)="report.id && loadReport(report)"
							class="bg-slate-200 hover:bg-primary p-1 rounded-md w-8 h-8 text-center">
							<i class="fa-solid fa-pen"></i>
						</button>
						<button *ngIf="canDelete" type="button" (click)="report.id && openConfirmWindow(report.id)"
							class="hover:bg-lightRed bg-red-700 text-white p-1 rounded-md w-8 h-8 text-center">
							<i class="fa-solid fa-trash"></i>
						</button>
					</div>
				</div>
			</div>
			} }
		</div>
	</div>
	<!-- Resolved -->
	<div class="w-1/4 border rounded-lg">
		<div
			class="w-full bg-slate-200 p-3 uppercase font-semibold text-xl flex items-center justify-center text-center">
			Resolved
		</div>
		<div class="p-2">
			@if(resolvedReports.length > 0){ @for(report of resolvedReports; track
			report.id){
			<div class="w-full h-[175px] flex flex-col justify-between p-2 border rounded-lg">
				<div class="flex justify-between mb-1">
					<p class="text-xl font-semibold truncate">{{ report.title }}</p>
				</div>
				<p class="line-clamp-3 break-words">
					{{ report.description }}
				</p>
				<div class="flex items-center justify-between mt-auto">
					<p class="text-xs mt-4 font-semibold px-2 py-1 rounded"
						[ngClass]="{
							'bg-lightGreen text-white': report.severity === 'LOW',
							'bg-yellow-500 text-black': report.severity === 'MEDIUM',
							'bg-orange-400 text-white': report.severity === 'HIGH',
							'bg-red-600 text-white': report.severity === 'CRITICAL'
						}"
					>{{ report.severity }}</p>
					<div class="flex flex-row gap-2">
						<button *ngIf="canEdit" type="button" (click)="report.id && loadReport(report)"
							class="bg-slate-200 hover:bg-primary p-1 rounded-md w-8 h-8 text-center">
							<i class="fa-solid fa-pen"></i>
						</button>
						<button *ngIf="canDelete" type="button" (click)="report.id && openConfirmWindow(report.id)"
							class="hover:bg-lightRed bg-red-700 text-white p-1 rounded-md w-8 h-8 text-center">
							<i class="fa-solid fa-trash"></i>
						</button>
					</div>
				</div>
			</div>
			} }
		</div>
	</div>
	<!-- Closed -->
	<div class="w-1/4 border rounded-lg">
		<div
			class="w-full bg-slate-200 p-3 uppercase font-semibold text-xl flex items-center justify-center text-center">
			Closed
		</div>
		<div class="p-2">
			@if(closedReports.length > 0){ @for(report of closedReports; track
			report.id){
			<div class="w-full h-[175px] flex flex-col justify-between p-2 border rounded-lg">
				<div class="flex justify-between mb-1">
					<p class="text-xl font-semibold truncate">{{ report.title }}</p>
				</div>
				<p class="line-clamp-3 break-words">
					{{ report.description }}
				</p>
				<div class="flex items-center justify-between mt-auto">
					<p class="text-xs mt-4 font-semibold px-2 py-1 rounded"
						[ngClass]="{
							'bg-lightGreen text-white': report.severity === 'LOW',
							'bg-yellow-500 text-black': report.severity === 'MEDIUM',
							'bg-orange-400 text-white': report.severity === 'HIGH',
							'bg-red-600 text-white': report.severity === 'CRITICAL'
						}"
					>{{ report.severity }}</p>
					<div class="flex flex-row gap-2">
						<button *ngIf="canEdit" type="button" (click)="report.id && loadReport(report)"
							class="bg-slate-200 hover:bg-primary p-1 rounded-md w-8 h-8 text-center">
							<i class="fa-solid fa-pen"></i>
						</button>
						<button *ngIf="canDelete" type="button" (click)="report.id && openConfirmWindow(report.id)"
							class="hover:bg-lightRed bg-red-700 text-white p-1 rounded-md w-8 h-8 text-center">
							<i class="fa-solid fa-trash"></i>
						</button>
					</div>
				</div>
			</div>
			} }
		</div>
	</div>
</div>

<!-- report form popup window -->
<app-window [isOpen]="isReportWindowOpen" (closeWindow)="closeReportWindow()">
	<app-incident-report-form (onCloseWindow)="closeReportWindow()" [data]="incidentReport"></app-incident-report-form>
</app-window>

<!-- confirmation popup window -->
<app-window [isOpen]="isConfirmWindowOpen" (closeWindow)="closeConfirmWindow()">
	<app-confirmation-dialog (onConfirm)="deleteReport()" (onCancel)="closeConfirmWindow()"></app-confirmation-dialog>
  </app-window>