<div class="flex justify-center items-center h-screen flex-col bg-primary">
	<h3 class="text-3xl mb-4 font-bold tracking-widest">Admin Dashboard</h3>
	<form [formGroup]="loginForm" (ngSubmit)="handleLogin()"
		class="border p-7 rounded-xl bg-white shadow-lg w-80 sm:w-96">
		<div class="flex justify-center mb-5">
			<img src="../../../assets/conciergevector.svg" alt="Concierge" class="h-30 object-contain" />
		</div>
		<div class="mb-3">
			<label htmlFor="room-num-input" class="block font-thin text-sm">Username</label>
			<input id="room-num-input" type="text" formControlName="username" placeholder="username"
				class="px-4 py-3 w-full rounded-lg border border-neutral-200" />
		</div>
		<div class="mb-3">
			<label htmlFor="pass-code-input" class="block font-thin text-sm">Password</label>
			<input id="pass-code-input" type="password" formControlName="password" placeholder="password"
				class="px-4 py-3 w-full rounded-lg border border-neutral-200" />
		</div>
		<div class="grid place-content-center mt-5">
			<button type="submit" [disabled]="loginForm.invalid" class="px-3 py-2 bg-black text-white rounded-lg">
				Sign In
				<i class="fas fa-sign-in-alt ml-1"></i>
			</button>
		</div>
	</form>
</div>