<div class="flex-col items-center p-5">
  <div *ngFor="let item of items; let i = index" 
       class="flex items-center w-full cursor-pointer rounded-lg lg:rounded-full h-12 hover:bg-secondary hover:text-white transition-colors duration-300 my-2" 
       [routerLink]="item.routerLink" 
       routerLinkActive="bg-secondary text-white" 
       [routerLinkActiveOptions]="{ exact: true }">
    <!-- Icon -->
    <i class="{{ item.icon }} m-auto lg:m-0 lg:ml-5 text-lg"></i>
    <!-- Label -->
    <span class="ml-3 sidebar-item font-medium text-lg tracking-wide hidden lg:inline-block">{{ item.label }}</span>
  </div>
</div>
