<h3 class="font-semibold text-5xl mb-5">Permission Groups</h3>
<p class="mb-5 font-bold text-xl">Manage Permission Groups</p>
<div class="flex gap-2">
  <table
    mat-table
    [dataSource]="flatPermissions"
    class="mat-elevation-z8"
    style="width: 100%"
  >
    @for (column of columnNames; track column) {
    <ng-container [matColumnDef]="column">
      @if (column === 'id') {
        <th mat-header-cell *matHeaderCellDef style="display: none;">{{ column }}</th>
      } @else {
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      }

      @if (column === 'name') {
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
      } @else if (column === 'id') {
        <td mat-cell *matCellDef="let element" style="display: none;">{{ element[column] }}</td>
      } @else {
      <td mat-cell *matCellDef="let element">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? togglePermission(element, column, $event.checked) : null"
          [checked]="element[column]">
        </mat-checkbox>
      </td>
      }
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
  </table>
</div>
